.navbar {
  height: 70px;
  color: black; }

.sasa {
  font-family: 'Fredoka One', cursive;
  font-size: 250%;
  margin: 0 40px 0 0; }

.footer {
  margin: 100px 0 0 0;
  height: 150px; }

.sasa-education-footer {
  font-size: 600%;
  margin: -50px 0 0 0; }

.form-control {
  width: 150px; }
