<nav class="navbar navbar-expand-lg navbar-light bg-light footer">
    <div class="container">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&f...lay=swap" rel="stylesheet" />
        <p class="navbar-brand sasa-education-footer sasa" style="color: #fe7e8b;">Room fund manager 303</p>
    </div>
</nav>