<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&f...lay=swap" rel="stylesheet" />
        <a class="navbar-brand sasa" style="color: #fe7e8b;" href="/">Room fund manager 303</a>
    </div>
</nav>